
.main_content{background-color: #F5F5F5 !important; width: 100%; height: auto; min-height: 100%; overflow: scroll; overflow-x:hidden;}
.content_wrap{width: 1280px; height: auto; min-height: 100%; margin: 0 auto;}

.main_aside{display: inline-block; width: 200px; height: 100%; min-width: 100px; text-align: left; padding :0 30px; float: left;}
.items{list-style: none; margin: 0 auto; padding: 0px;}
.item_title{font-size: 16px; font-weight: 700; color : #333333; margin-bottom: 24px;}
.active{color : #595959 !important;}
.validated{color : #00a65f !important;}
.active a{text-decoration: none; color: #595959 !important;}
.active a:hover{text-underline: none; text-decoration: none;  color : #1dc078}
.items li a{color: #bdbdbd; text-decoration: none;}
.items li a:hover{color: #1dc078; text-decoration: none;}
.items li{color: #BDBDBD; margin-bottom: 20px; font-size: 15px; font-weight: 700;}
.submit{padding: 8px !important; font-size: 16px !important; font-weight: 800 !important;}
.submit:hover{cursor: pointer;}
.nonValidated{cursor: not-allowed !important; background-color: #ffb8b0 !important; opacity: 1;}
.relativity{position: relative}
.guide_wrap{ display: flex;flex-direction: column;justify-content: center; position: absolute; bottom: -100px; right : -200px; background-color: white; width: 220px; z-index: 56;}
.guide_title{display: flex; justify-content: center; font-weight: 800; font-size: 18px; padding-top: 24px;}
.guide_body{display: flex; flex-direction: column; justify-content: center;}
.guide_img_wrap{display: flex; justify-content: center; align-items: center; margin-top: 12px;}
.guide_subText{display: flex; justify-content: center; padding : 12px 24px; font-size: 12px; color: #6d6d6d;}
.final_submit{display: flex; justify-content: center; width: 100px; padding: 12px 0; font-size: 16px; align-items: center; font-weight: 600; background-color: #ff7867; color: white; cursor: pointer; border-radius: 4px;}

.course_submit_form{z-index: 50; display: none; position : fixed; width: 100%; height: 100%; top: 0; left : 0; overflow: auto; background-color: rgba(0,0,0,0.4); padding-top: 50px;}
.course_submit_content{z-index: 51; width: 480px; height: 760px; background-color: #fefefe;margin: 5px auto; border: 1px solid #888; border-radius: 5px;}
.course_submit_container{width: 94%; margin : 0 auto; display: flex; justify-content: center; align-items: center;}
.course_submit_text_description{display: flex; flex-direction: column; width: 70%; }
.course_submit_text_description div{font-size : 16px; display: flex; justify-content: center; line-height: 1.6; text-align: center;}
.course_submit_text_title{display: flex; justify-content: center; font-size: 24px; margin-bottom: 24px;}
.course_submit_container{display: flex; flex-direction: column; justify-content: center;}
.course_submit_icon{color: #00a65f;
    display: flex; justify-content: center; align-items: center; margin-top: 64px; margin-bottom: 48px;}
.course_submit_icon *{font-size: 64px !important}
.course_submit_button_area{ width: 100%; margin-top: 30px; display: flex; justify-content: center;}
.course_submit{background-color: #ff7867; color: white; padding: 12px 48px; margin-right: 4px; border-radius: 4px; cursor: pointer;}
.course_cancel{background-color: #959B9D; color: white; padding: 12px 48px; margin-left: 4px; border-radius: 4px; cursor: pointer;}

.course_submit_success_form{z-index: 50; display: none; position : fixed; width: 100%; height: 100%; top: 0; left : 0; overflow: auto; background-color: rgba(0,0,0,0.4); padding-top: 250px;}
.course_submit_success_content{z-index: 51; width: 480px; height: 500px; background-color: #fefefe;margin: 5px auto; border: 1px solid #888; border-radius: 5px;}
.course_submit_success_container{width: 94%; margin : 0 auto; display: flex; justify-content: center; align-items: center;}
.course_submit_success_text_description{display: flex; flex-direction: column; width: 70%; }
.course_submit_success_text_description div{font-size : 16px; color: #343A40; display: flex; justify-content: center; line-height: 1.6; text-align: center;}
.course_submit_success_text_title{display: flex; justify-content: center; font-size: 24px; margin-bottom: 24px;}
.course_submit_success_container{display: flex; flex-direction: column; justify-content: center;}
.course_submit_success_icon{color: #00a65f; font-size: 64px;
    display: flex; justify-content: center; align-items: center; margin-top: 64px; margin-bottom: 48px;}
.course_submit_success_icon *{font-size: 64px;}
.course_submit_success_button_area{ width: 100%; margin-top: 30px; display: flex; justify-content: center;}
.course_success_submit{background-color: #1dc078; color: white; padding: 12px 96px; margin-right: 4px; border-radius: 4px; cursor: pointer;}



.animate{-webkit-animation: animatezoom 0.6s; animation: animatezoom 0.6s;}
@-webkit-keyframes animatezoom { from {-webkit-transform: scale(0)} to {-webkit-transform: scale(1)} }
@keyframes animatezoom { from {transform: scale(0)} to {transform: scale(1)} }