.main_section{display: flex;justify-content: space-between;width: 1200px;height: 100%;margin: 0 auto;}
.real_course_content{width: 70%;display: flex;flex-direction: column;}
.box_wrap{display: flex;position: sticky;top : 120px;height: 360px;}
.course_price{text-align: left; font-size: 28px; color : black; font-weight: bold; margin-bottom: 20px;}
.course_status{color: #343a40;font-size: 24px;font-weight: 700;margin-bottom: 12px;}
.mini_box{display: flex; justify-content: center;}
.mini_box_content{padding: 10px 18px; font-size: 14px; color: #495057; font-weight: 500; cursor: pointer;}
.add_box{border-right : 1px solid #f1f3f5; }
.learning_box {background-color: #00C471; font-size: 16px; font-weight: bold; color : white; text-align: center; border-radius: 1px; width: 270px;height: 48px; line-height: 48px; margin-bottom: 10px; cursor: pointer; border-radius: 5px;}
.learning_box:hover{background-color: #00a65f;}
.course_subtext{width: 100%; height: 100%; border-bottom-right-radius: 20px; border-bottom-left-radius: 20px; color: #868e96; font-size: 12px; text-align: left; padding: 16px 24px; background-color: #f8f9fa;}
.course_subtext *{font-size: 12px;}
.course_box{display: flex; flex-direction: column; height: 360px; z-index: 10; background-color: white; border: #E9ECEF 1px solid; border-radius: 20px;  width: 320px;}
.course_box_warp{display: flex; flex-direction: column; padding: 24px; border-bottom: 1px solid #f1f3f5;}
.top_margin{margin-top: 5px;}

.management_wrap{width: 100%; padding: 24px;}
.management_title{font-weight: 600; font-size: 20px; color: #343A40; padding-bottom: 24px;}
.management_information_template{padding: 8px 4px; display: flex; flex-direction: column; margin-bottom: 12px;}
.management_title_template{font-size: 24px; font-weight: 600; margin-bottom: 18px;}
.information_content_wrap{width: 100%; background-color: #EFEFEF; border-radius: 2px; padding: 16px; font-size: 13px; font-weight: 500;}
.student_search_form{width: 100%; display: flex;}
.student_name{height: 50px; width: 350px; padding: 8px 12px; font-size: 16px; background-color: #f6f6f6; outline: none; border: 1px solid #DEE2E6;}
.student_search_button{color: white; background-color: #1dc078; font-weight: 500; font-size: 16px; align-content: center; padding: 12px 32px;}

.student_list_content_wrap{display: flex; flex-direction: column;}

.student_list_content{width: 100%; border: 1px solid #DEE2E6; border-radius: 4px; margin-bottom: 12px; padding: 18px; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;}
.student_flex_row{display: flex;}
.student_profile_wrap{align-self: center; margin-right: 12px; display: flex; order: 1; flex-basis: 50px;}
.student_profile{width: 42px; height: 42px; overflow: hidden; border-radius: 70%;}
.student_profile_image{width: 100%; height: 100%; object-fit: cover;}
.student_content_wrap{display: flex; flex-direction: column; order: 2; flex-basis: 100%; margin-left: 12px;}

.student_status_value{padding: 4px; background-color: #1dc078; color: white; font-size: 12px; font-weight: 400; border-radius: 4px;}
.student_date, .student_registered_date, .separator, .student_started_date, .course_ofTime{display: flex; font-size: 16px; font-weight: 600; color: #929292;}
.bottom_margin{margin-bottom: 12px;}
.student_name_status{display: flex;}
.student_name_status div{margin-right: 4px; align-self: center;}
.course_progress_wrap{display: flex; flex-direction: column;}

.course_progress_title{margin-bottom: 8px;}
.course_progress_area{width: 100%; display: flex; justify-content: center;}
.course_progress_data{display: flex; width: 100%; background-color: #dbdbdb !important; color : #1dc078; border-radius: 3px; height: 6px;}
.course_progress_data::-webkit-progress-bar{display: flex; width: 100%; background-color: #dbdbdb !important; color : #1dc078; border-radius: 3px; height: 6px;}
.course_progress_data::-moz-progress-bar{display: flex; width: 100%; background-color: #dbdbdb !important; color : #1dc078; border-radius: 3px; height: 6px;}
.course_progress_data::-webkit-progress-value{display: flex; background-color: #1dc078; border-radius: 3px;}

.student_info_wrap{ display: flex; order: 3; flex-shrink:0;}
.student_info_button{align-self: center; background-color: #efefef; border-radius: 4px; font-size: 16px; padding: 8px 16px; white-space: nowrap; cursor: pointer;}

.student_date *, .course_ofTime *{font-size: 14px;}