.div_wrap{width: 100%; height: 100%; display: flex; flex-direction: column; overflow-y: hidden;}
.header{display: flex; justify-content: center;}
.header_img{width: 200px; margin-top: 24px; cursor: pointer;}
.message{margin-top: 64px; position: absolute; z-index: 10; width: 832px; padding: 64px}
.message h1{font-size: 44px; margin-bottom: 32px; font-weight: 700;}
.img_a_tag{text-decoration: none;}
.message p{font-size: 32px; line-height: 1.6;}
.message a{font-size: 32px; text-decoration: none; color: #1dc078;}
.coding_cat{position: absolute; right: -10%; bottom: 0; width: 80%;}
@media (max-width: 764px) {
    .message{padding: 24px; position: relative; margin-top: 0; width: 100%;}
    .message h1{font-size: 32px;}
    .message p {font-size: 24px;}
    .message a {font-size: 24px;}
}